/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*************** CUSTOM CSS *****************/

body {
	font-family: franklin-gothic-urw, sans-serif;
	/* margin: 3em; */
	background-color:#FFF3D8;
}

/* typography */
h1 {
	font-size: 7em;
	color: #FFDDAE;
	font-weight:700;
	text-align:center;
	letter-spacing: -3px;
}

h2{
	font-size: 1.5em;
	font-weight: 700;
}

h3{
	font-size: 1.5em;
	font-weight:500;
}

h4{
	font-weight:300;
	font-size:4em;
	padding-right:6em;
}

a{
	text-decoration: none;
	color:black;
	padding-left: 1em;
	padding-right:1em;
}

a:visited{
	text-decoration: none;
	color:black;
}

#backButton{
	font-size:1.5em;
}

/* navigation */
nav{
	display:flex;
	justify-content: space-between;
	flex-grow:2;
	background-color:#FFEFCE;
	padding:3em;

}

.navWrapper{
	display: flex;
	justify-content: space-between;
}

button{
	border: 2px solid black;
	background-color:#FFF3D8;
	border-radius: 30px;
	padding: 0.5em 1.4em;
	color:black;
	font-weight:500;
	font-size:1.2em;
}

#cartNum {
	border-radius: 50%;
	width:1.2em;
	height:1.2em;
	background:orange;
	color:white;
    display: none;
    text-align: center;
	font-size: 0.8em;
	z-index:200;
	margin-left: -10px;
	margin-top: 10px;
}

.orderButton{
	border: 2px solid black;
	background-color:#FFF3D8;
	border-radius: 30px;
}
/* homepage */
.splash{
	display:block;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}

/* Search delivery address section */
.deliveryWrapper{
	padding:3em;
}
.widget{
	padding-left:8em;
	padding-right:8em;
	padding-top: 3em;
	display:flex;
	justify-content:space-around;
}

.widget div{
	margin:1em 20em 0em 2em;
}
.widget p{
	padding-bottom:2em;
}

input[type=text] {
	padding: 6px;
	width:80%;
	border: 1px solid black;
	border-radius:24px;
	background-color:#FFF3D8;
	font-size: 17px;
  }
  
.widget  button {
	float: right;
	padding: 3px 3px;
	margin-right: 16px;
	background-color:#FFF3D8;
	font-size: 24px;
	border: none;
  }

/* Homepage Location section */
.locationWrapper{
	background-color: #FFFBF0;
	display:flex;
}

.locationWrapper img{
	width:40%;
	height:40%;
	padding:3em;
}

.textWrapper{
	padding-top: 4em;
}

.infoWrapper{
	padding-top:2em;
	display:flex;
}

.infoWrapper p{
	padding-bottom:1em;
}

.infoWrapper h3{
	padding-bottom:1em;
}

.infoWrapper div{
	padding-right:3em;
}

/* proudcts page bun display */
.bunWrapper{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-evenly;
	margin:4em;
}

.bunWrapper div{
	margin:3em;
}

.bunWrapper h2,.choices h2{
	color:#6F593A;
	text-align:center;
}

/* product details */
.productDescription{
	display:flex;
	justify-content:center;
	padding: 2em 4em 4em 8em;
}

.productDescription img{
	width:40%;
	height:40%;
}


.text{
	padding-top: 2em;
	padding-right:8em;
}

p{
	font-size: 1.2em;
	color:black;
	font-weight:300;
	padding-top:1em;
	line-height:1.5;
}

.last{
	padding-bottom:1em;
}

.glazingWrapper{
	display:flex;
	align-items: center;
	margin-top:1em;
}

.glazingWrapper input{
	visibility:hidden;
}

span{
	width:50px;
	height:50px;
	border-radius:50%;
	margin:3px;
	/* cursor:pointer; */
	border-style:inset;
}

span p{
	margin-top:3em;
	text-align:center;
	font-size:0.8em;
}


input:checked + span {
    display:none;
}

#none{
	background-color:paleturquoise;
}

#vanilla{
	background-color:white;
}

#sugar{
	background-color:#ffb108;
}

#chocolate{
	background-color:#914900;
}

/* styling select */
select{
	font-size: 16px;
	font-weight: 700;
	color: black;
	line-height: 1.3;
	padding: .6em 1.4em .5em .8em;
	width: 15%;
	max-width: 15%;
	box-sizing: border-box;
	margin: 0;
	border: 2px solid black;
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #FFF3D8;
	background-position: right .7em top 50%, 0 0;
	margin-bottom:3em;
}

/* cart page style */
.cartPage button{
	border-style:none;
	cursor:pointer;
}

.back{
	margin-bottom:3em;
}

.cartWrapper{
	margin: 3em;
	display:grid;
	grid-template-columns: 20% 20% 20% 20% 20%;
}

.left{
	grid-column-start:1;
	grid-column-end:4;
}

.left h3{
	font-weight:300;
}

.product{
	display:flex;
	justify-content:flex-start;
	margin-bottom:2em;
}


.product img{
	width:30%;
	height:30%;
}


.product select{
	width:100%;
	max-width:100%;
	margin-bottom:1em;
	border:1px solid black;
	font-weight:300;

}

.product p{
	font-size:1.2em;
	text-align:left;
	margin-top:0;
	padding-top:0;
}

/* order summary section styling */
.orderSummary{
	grid-column-start:5;
	grid-column-end:6;
}
.orderSummary div{
	border: 1px solid black;
	max-height: 300px;
	padding: 2em;
}

.orderSummary span{
	display:flex;
	align-content:space-between;
}

#price span p{
	font-size:1.2em;
	font-weight:300;
	color:black;
	text-align:center;
	margin:0;
}

#price h3{
	text-align:center;
}

#checkoutButton{
	margin-top:1em;
}

#checkoutButton p{
	text-align:center;
	padding-top:0;
}